@import "~@angular/material/theming";




$demo-app-primary: mat.define-palette(mat.$blue-palette);
$demo-app-accent: mat.define-palette(mat.$amber-palette);

$demo-app-warn: mat.define-palette(mat.$red-palette);

$demo-app-theme: mat.define-light-theme((
  color: (
    primary: $demo-app-primary,
    accent: $demo-app-accent,
    warn: $demo-app-warn,
  )
));

// Define a dark theme
$demo-app-dark-primary: mat.define-palette(mat.$light-blue-palette);
$demo-app-dark-accent: mat.define-palette(mat.$blue-grey-palette);
$demo-app-dark-theme: mat.define-dark-theme((
 color: (
   primary: $demo-app-dark-primary,
   accent: $demo-app-dark-accent,
 )
));